/** {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 1px solid red;
}
*/
body, html {
  width: 100%;
  height: 100%;
}

section {
  margin: 0 auto;
  width: 950px;
}

h1, h6 {
  font-family: Verdana, sans-serif;
  text-transform: uppercase;
}

h2 {
  font-family: Verdana, sans-serif;
  text-transform: uppercase;
  margin: auto;
}

hr {
  color:#2d3c49;
}

.box {
  width: 300px;
  height: 100px;
  display: inline-block;
}

.logo {
  margin-top: 50px;
}

.name {
  float: right;
  margin-top: 50px;
  text-align: right;
}

.code {
  width: 600px;
  height: 300px;
}

.featured {
  margin-top: 50px;
  color: #7d97ad;
  font-family: Verdana, sans-serif;
}

.appify, .sunflower, .bokeh {
  width: 50px;
  height: 50px;
  display: inline-block;
  text-align: center;
}

.appify {
  margin-right: 270px;
}

.sunflower {
  margin-right: 270px;
}
